.bg{
  background: url("../../assets/bg.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 800px;
  position: relative;
}
.name{
  color: #fff;
  text-align: right;
  padding: 10px 20px;
  font-size: 16px;
}
.boxUrl{
  background: #fff;
  border-radius: 8px;
  width: 23%;
  padding: 14% 0 2%;
  color:#4876ff;
  text-align: center;
  background-size: 100%!important;
  overflow: hidden;
  cursor:pointer;
  box-shadow: 0 0 10px #999;
  float: left;
  margin: 0 1% 25px;
}
.boxLink{
  width: 88%;
  height: auto;
  position: absolute;
  top:450px;
  left: 6%;
  padding: 0 10px 10px;
  font-size: 46px;
}
.leftBtn{
  font-size: 40px;
  color: #ddd;
  position: absolute;
  top:600px;
  left: 2%;
  cursor: pointer;
}
.rightBtn{
  font-size: 40px;
  color: #ddd;
  position: absolute;
  top:600px;
  right: 2%;
  cursor: pointer;
}
@media screen and (max-width: 1600px) {
  .boxLink{
    top:400px;
    font-size: 44px;
  }
  .leftBtn{
    top:530px;
  }
  .rightBtn{
    top:530px;
  }
}
@media screen and (max-width: 1500px) {
  .boxLink{
    top:380px;
    font-size: 42px;
  }
  .leftBtn{
    top:500px;
  }
  .rightBtn{
    top:500px;
  }
}
@media screen and (max-width: 1440px) {
  .boxLink{
    top:350px;
    font-size: 40px;
  }
  .leftBtn{
    top:460px;
  }
  .rightBtn{
    top:460px;
  }
}
@media screen and (max-width: 1300px) {
  .boxLink{
    top:300px;
    font-size: 38px;
  }
  .leftBtn{
    top:400px;
  }
  .rightBtn{
    top:400px;
  }
}
@media screen and (max-width: 1200px) {
  .boxLink{
    top:280px;
    font-size: 34px;
  }
  .leftBtn{
    top:370px;
  }
  .rightBtn{
    top:370px;
  }
}
@media screen and (max-width: 1100px) {
  .boxLink{
    top:260px;
    font-size: 32px;
  }
  .leftBtn{
    top:330px;
  }
  .rightBtn{
    top:330px;
  }
}
@media screen and (max-width: 1000px) {
  .boxLink{
    top:240px;
    font-size: 30px;
  }
  .leftBtn{
    top:300px;
  }
  .rightBtn{
    top:300px;
  }
}
.goOut{
  cursor: pointer;
}
.none{
  display: none;
}
